<?xml version="1.0" encoding="utf-8"?>
<!-- Só em debug: catálogo do design system com entrada própria no launcher. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".catalog.DesignSystemCatalogActivity"
            android:exported="true"
            android:label="@string/catalog_launcher_label"
            android:theme="@style/Theme.Assemble">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
